div#channelModal
  button.closeChannelPanel(type='button') X
  div.channel-modal-container
    div#channelModalName
      div#channelModalContent
        //- div.profile-button
        //-   button.modal-button(type="submit" id="profile") Save changes
        //- div
        //-   button(type="button" id="preferences") Preferences
        //- div
        //-   button(type="button" id="invitation") Invite People to Workspace
        //- div
        //-   //- this needs to be changed to the variable workspace
        //-   button.modal-button(align="center" type="submit" id="sign-out-workspace") Sign Out
div#editChannelContainer
  div#editChannel
    .edit-channel-form
      div.textChannel Edit Channel
      form.form#editChannelForm 
        div  
          label.textChannel(for="name") Enter New Name 
          input.form-input(type="text", name="name", placeholder="")   
        div
          button.btn#saveChannelEdit(type='submit') Save Changes
        div
          button.closeEditChannel(type='submit') x
        