div#channelModal
  button.closeChannelPanel(type='button') X
  div.channel-modal-container
    div#channelModalName
      div#channelModalContent

div#editChannelContainer
  div#editChannel
    .edit-channel-form
      div.textChannel Edit Channel
      form.form#editChannelForm 
        div  
          label.textChannel(for="name") 
          input.form-input(type="text", name="name", placeholder="Enter New Name ")   
        div
          button.btn#saveChannelEdit(type='submit') Save
        div
          button.closeEditChannel(type='submit') X
