div  
  label(for="fullName") Enter Full Name 
  input#form-input(type="text", name="fullName", placeholder="")
div
  label(for="phone") Enter Phone Number 
  input#form-input(type="phone", name="phone", placeholder="")
div
  label(for="email") Enter Email 
  input#form-input(type="email", name="email", placeholder="")
div
  label(for="password") Enter New Password 
  input#form-input(type="password", name="password", placeholder="")
