div  
  label(for="fullName") Enter Full Name 
  input.form-input(type="text", name="fullName", placeholder="")
div
  label(for="email") Enter Email 
  input.form-input(type="email", name="email", placeholder="")

