div(class="icon-bar")
  a(href="#" id="bold")
    i(class="fa fa-bold" aria-hidden="true")
  a(href="#" id="italic")
    i(class="fa fa-italic" aria-hidden="true")
  a(href="#" id="strikethrough")
    i(class="fa fa-strikethrough" aria-hidden="true")
  a(href="#" id="codeBlock")
    i(class="fa fa-code" aria-hidden="true")
  a(href="#" id="hyperlink")
    i(class="fa fa-link" aria-hidden="true")
  a(href="#" id="numberList")
    i(class="fa fa-list-ol" aria-hidden="true")
  a(href="#" id="bullets")
    i(class="fa fa-list-ul" aria-hidden="true")
  a(href="#" id="emojis")
    i(class="fa fa-smile-o" aria-hidden="true")
  a(href="#" id="attachFile")
    i(class="fa fa-paperclip" aria-hidden="true")

