div.panel
  div
    button(type="button" id="userModalButton") 
      div 
      div#nameDisplay
    div#modal
      div#modal-container 
        div#fullName
        div#modalContent
          img(src="./images/poop-emoji.png" id="avatar")
        div.profile-button
          button.modal-button(type="submit" id="profile") View profile
        //- div
        //-   button(type="button" id="preferences") Preferences
        //- div
        //-   button(type="button" id="invitation") Invite People to Workspace
        div
          //- this needs to be changed to the variable workspace
          button.modal-button(align="center" type="submit" id="sign-out-workspace") Sign Out
  div.channels
    div
      button(type="button" id="channelDropdown") Channels
      div.channel
        div#channelNames
        div#addChannel.links + Add
        div#addChannelModal
          div#addChannelFormContainer
            form.form#addChannelForm
              div  
                label(for="name") Enter Name 
                input.form-input(type="text", name="name", placeholder="")   
              div
                button.btn(type='submit') Create Channel
              div
                button.closeCreateChannel(type='button') x
  div.directMessage
    div
      button(type="button" id="dmDropdown") Direct Message
      div.dms
        div: a(href="/log-in" class="links") @ User1
        div: a(href="/log-in" class="links") @ User2
        div: a(href="/sign-up" class="links") + Invite People
    
  
div.editProfile
  div.edit-profile-container
    div#edit Edit Your Profile
    form.form#editProfileForm
      include edit-profile.pug
      div.btns
        button.btn#saveProfileEdit(type='submit') Save changes
        button.btn(type='cancel') Cancel
    button.closeEditProfile(type='button') x
    div#editProfileImg
      div#pict
        img(src="https://spartacus-educational.com/00aristotle.jpg") 
      button#btnpict(type='submit') Update Photo