div.panel
  div
    button(type="button" id="modalButton") 
      div Workspace 
      div User
    div#modal 
      div.userName Aristotle Modal
      div.modalContent
        img(src="https://spartacus-educational.com/00aristotle.jpg" id="avatar")
      div
        button(type="button" id="profile") View profile
      div
        button(type="button" id="preferences") Preferences
      div
        button(type="button" id="invitation") Invite People to Workspace
      div
        //- this needs to be changed to the variable workspace
        button(type="button" id="sign-out-workspace") Sign out of workspace 
  div.channels
    div
      button(type="button" id="channelDropdown") Channels
      div.channel
        div: a(href="/general" class="links") # General
        div: a(href="/help-requests" class="links") # Help-Requests
        div#addChannel: a(href="" class="links") + Add
          div#addChannelModal
            div#addChannelForm
              form.form
                div  
                  label(for="name") Enter Name 
                  input#form-input(type="text", name="name", placeholder="")   
                div
                  button#btn(type='submit') Save changes
  div.directMessage
    div
      button(type="button" id="dmDropdown") Direct Message
      div.dms
        div: a(href="/log-in" class="links") @ User1
        div: a(href="/log-in" class="links") @ User2
        div: a(href="/sign-up" class="links") + Invite People
  
  
div.editProfile
  div.edit-profile-form
    div#edit Edit Your Profile
    form.form
      include edit-profile.pug
      div.btns
        button#btn(type='submit') Save changes
        button#btn(type='cancel') Cancel
    button.closeEditProfile(type='button') x
    div#editProfileImg
      div#pict
        img(src="https://spartacus-educational.com/00aristotle.jpg") 
      button#btnpict(type='submit') Update Photo