
extends layout.pug

block content
  div.grid-container
    div.nav Cl🅰️ck!
    include includes/channel-modal.pug
    div.switch-container Emoji-View
      label.switch#emoji-switch
        input(type="checkbox")
        span.slider.round
    include includes/audio.pug
      //- /side panel/
    include includes/side-panel.pug
      block content
    div.chat-container
      div.chatWin    
        //- div.messageDisplay

      div.messageField
        input(type="text" id="messages" placeholder="Type something here...")
        include includes/icon-bar.pug 
      div.broadcast   

  script(type="module" src="./scripts/index.js")
  script(type="module" src="./scripts/side-panel.js")
  //- script(type="module" src="./scripts/icon-bar.js")
  script(type="module" src="./scripts/audio.js")
  script(type="module" src="./scripts/profile.js")
  script(type="module" src="./scripts/channel.js")


