extends layout.pug

block content
    div.mainLogin
      div.errors-container
      h2.sign(align="center") Log In
      form.log-in-form
        include includes/auth-form-fields
        button.submit(type='submit') Log In
      div.signLink(align="center")
        a(href='/sign-up') Don't have an account? Sign up here.
    script(type="module" src="scripts/log-in.js")    
