doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", type="text/css", href="./styles/main.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js")
    body
      div.grid-container
        div.nav Clack
        //- /side panel/
        include side-panel.pug
        div.chat-container
          div.chatWin
            div.texts
            div.broadcast
          div.messageField
            input(type="text" id="messages" placeholder="Type something here...")
            div(id="buttons")
      script(src="./scripts/index.js")