div.panel
  div
    button(type="button" id="button") 
      div Workspace 
      div User
    div#modal 
      div.userName Aristotle Modal
      div.modalContent
        img(src="https://spartacus-educational.com/00aristotle.jpg" id="avatar")
      div
        button(type="button" id="profile") View profile
      div(id="preferences") Preferences
      //- this needs to be changed to the variable workspace
      div(id="sign-out-workspace") Sign out of workspace 
  div.channels
    div
      button(type="button" id="channelDropdown") Channels
      div.channel
        div: a(href="/general" class="links") # General
        div: a(href="/help-request" class="links") # Help
        div: a(href="/Add" class="links") + Add
    
  div.directMessage
    div
      button(type="button" id="dmDropdown") Direct Message
      div.dms
        div: a(href="/" class="links") @ User1
        div: a(href="/" class="links") @ User2
        div: a(href="/invite" class="links") + Invite People