div.panel
  div
    button(type="button" id="button") Workspace
    div#modal Modal
      div.modalContent
        img(src="")
        a(href="")
  div.channels
    a(href="") Channels
      div: a(href="/general") General
      div: a(href="/help-request") Help
      div: a(href="/Add") Add
  div.directMessages
    div: a(href="/direct-message") Direct message
    div: a(href="")
    div: a(href="") 