extends layout.pug

block content
  div(class="sign-up-container")
    div(class="errors-container")
    h2 Sign Up
    form(class="sign-up-form")
      .form-group
        label(for="fullName") fullName
        input#fullName.form-control(type="text" name="fullName" placeholder="fullName")
      include includes/auth-form-fields
      button.btn.btn-primary(type="submit") Sign Up
    a(href="/log-in") Already have an account ? Log in here.
  script(type="module" src="scripts/sign-up.js")