<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        link(rel="stylesheet", type="text/css", href="./styles/styles.css")
    body    
    div
      nav.navbar.navbar-dark.bg-primary
        a(class="navbar-brand" href="/about") About
        a(class="navbar-brand" href="/contact") Contact
        a(class="navbar-brand" href="/sign-up") Sign-Up
        a(class="navbar-brand" href="/log-in") Log-In
            