body {
    
    margin: 0;
    padding: 0;
    
}

.grid-container {
  display: grid; 
  
  grid-template-columns: 17% 83%;
  grid-template-rows: 5% 95%;
  
} 

.nav {
    grid-column: 1 / span 2;
    background-color: #003399;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
    width: 100%;
    font-size: 25px;
    color: gray;
    font-weight: bold;
    font-style: italic;

}

.chat-container {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    
    width: 100%;
    height: 100%;
}

.chatWin {

    
    padding: 5px;
    height: 730px;
    background-color: white;
    font-size: 18px;
    overflow-y: scroll;
    
}

.texts {
    
    padding: 15px;
    height: 665px;
    background-color: white;
    font-size: 18px;
    overflow-y: scroll,
}

.broadcast {
   
    background-color: white;
    
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 35%;
    font-size: 18px;
    
}

.messageField {
    /* justify-self: stretch; */
    border-radius: .5em;
    width: 95%;
    margin: 0 auto;
    
}

#messages {
    border: 1px solid black;
    border-radius: .2em;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    height: 40px;
    width: 100%;
    font-size: 18px;
   
}



