.panel {
    background-color: lightblue;
    grid-column: 1 / 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    
    margin: 0;
}

/* modal button */
#modalButton {
    width: 100%;
    height: 60px;
    text-align: left;
    color: white;
    font-size: 14px;
    background-color: #87bdd8;
    padding: 10px;
}
/* The Modal (profile card) */
#modal {
  display: none; /* Hidden by default */
  /* position: fixed; Stay in place */
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  border: 1px solid lightgray;
  border-radius: .5em;
  left: 13px;
  top: 83px;
  width: 20%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  
}

#modal-transform{
    position: fixed; 
    padding-top: 100px; /* Location of the box */
    border: 1px solid lightgray;
    right: 0px;
    top:0px;
    width: 30%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: .3em;
}

#avatar-transform{
    width: 100%;
    height: 350px;
}

#profile {
    width: 100%;
    text-align: left;
    height: 50px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}

#profile:hover{
    background-color: blue;
}

#profile-transform{
    display:none;
}

#preferences {
    width: 100%;
    text-align: left;
    height: 50px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}

#sign-out-workspace {
    width: 100%;
    text-align: left;
    height: 50px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}

#invitation{
    width: 100%;
    text-align: left;
    height: 50px; 
}

#editButton
{
  height: 30px ; 
  width: 120px;
  margin: 30px
}

#chatButton{
    height: 30px ; 
    width: 120px;
    margin: 30px  
}
/* .userName {
margin-left: 40px;
margin-top: center;
} */

/* links */

.channel {
    display: none;
    
   
}

.channel:hover {
    background-color: #87bdd8;
}

#channelDropdown {
    width: 100%;
    height: 50%;
    text-align: left;
    color: white;
    font-size: 14px;
    background-color: #87bdd8;
    padding: 10px;
}

.dms {
    display: none;
    
}

#dmDropdown {
    width: 100%;
    height: 50%;
    text-align: left;
    color: white;
    font-size: 14px;
    background-color: #87bdd8;
    padding: 10px;
}

.links {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    width: 100%; 
}

.links:hover {
    background-color: #87bdd8;;
}




