.form-group
  input#email.form-control.inputField(type="email", name="email", placeholder="Enter email")
.form-group
  input#password.form-control.inputField(type="password", name="password", placeholder="Password")
