.form-group
  label(for="fullName") Enter Full Name 
  input#fullName.form-edit(type="text", name="fullName", placeholder="")
.form-group
  label(for="phone") Enter Phone Number 
  input#phone.form-edit(type="phone", name="phone", placeholder="")
.form-group
  label(for="email") Enter Email 
  input#email.form-edit(type="email", name="email", placeholder="")
.form-group
  label(for="password") Enter New Password 
  input#password.form-edit(type="password", name="password", placeholder="")
