
    body {
        background-color: #8d9db6;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
    }
    
    .mainLogin {
        background-color: #FFFFFF;
        width: 400px;
        height: auto;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);

    }

    .mainSignUp {
        background-color: #FFFFFF;
        width: 400px;
        height: auto;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    .sign {
        padding-top: 10px;
        padding-bottom: 15px;
        color: rgb(85, 105, 170);
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    
    .inputField {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    }
    
    form.form-group {
        padding-top: 40px;
        display:flex;
    }

    .inputField:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, rgb(78, 70, 201), rgb(91, 107, 255));
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .signLink {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: rgb(190, 206, 231);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: rgb(164, 175, 236);
        text-decoration: none
    }

    .demoButton{
        padding-top: 20px;
    }

    .errors-container{
        padding-top: 20px;
        color: red;
        font-weight: bold;
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
    }
        