
body {
    
    margin: 0;
    padding: 0;
    background-color: white;
}
body::-webkit-scrollbar{
  color: #8d9db6;
}
body::-webkit-scrollbar-corner{
  color: #8d9db6;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(141, 157, 182); 
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    color: #667292;
    -webkit-box-shadow: inset 0 0 20px rgb(102, 114, 146); 
}
/* @media screen and (max-width: 800px) {
  body {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller
  }
} */
button:focus {
    color: #667292;
    background-color: #8d9db6;
    border: none;
    outline-color:#667292;
  }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr 150px;
  grid-template-rows: 55px 1fr;
  
} 

.nav {
    grid-column: 1 / 2;
    background-color: #667292;
    margin: 0;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    height: 53x;
    letter-spacing: .05em;
    width: auto; /*changed from 100%*/
    font-size: 40px;
    font-stretch: ultra-expanded;
    color: #f1e3dd;/*changed from gray*/
}

#editChannelContainer{
  grid-column: 2/3;
  background-color: #667292;
  display: flex;
  justify-content: center;
}

.switch-container{
    grid-column: 3;
    background-color: #667292;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    /* height: 45px; */
    height: 53px;
    /* width: 100vw; */
    
    width: auto; /*changed from 100%*/
    font-size: 16px;
    color: #f1e3dd;/*changed from gray*/
    font-weight: bold;


    display: flex;
}

.chat-container {
    grid-column: 2/4; /*before was just 2*/
    grid-row: 2/4;  /*before was just 2*/

    height: calc(100vh - 55px);

    /*below is new*/
    display: grid;
}

.chatWin {

    /* position: relative; */
    padding: 5px;
    /*height of nav+message field + 20 for chatWin padding and border*/
    height: calc(100vh - 157px); 
    font-size: 18px;
    overflow: auto;
    background-color:#8d9db6;
    color:#f0eae8;
    border: 5px inset #8d9db6;
    border-radius: .3em;
}
.chatWin::-webkit-scrollbar{
  color: #8d9db6;
}
.chatWin::-webkit-scrollbar-corner{
  color: #8d9db6;
  border-radius: 10px;
}
.chatWin::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(141, 157, 182); 
    border-radius: 10px;
}
.chatWin::-webkit-scrollbar-thumb {
    border-radius: 10px;
    color: #667292;
    -webkit-box-shadow: inset 0 0 20px rgb(102, 114, 146); 
}

/* .messageDisplay {
    
    padding: 15px;
    height: 565px;
    background-color: white;
    font-size: 18px;
    /* overflow-y: scroll,
}*/

.broadcast {
   
    background-color: #667292;
    padding-left: 10px;
    height: 16px;
    width: 35%;
    font-size: 16px;
    color: #8d9db6;
    padding-top: 1%;
    
}

.messageField {
    /* justify-self: stretch; */
    /* background-color: #f0f0f0; */
    
    bottom: 35px;
    background-color: #667292;
    border: 1px solid black;
    border-radius: .2em;
    padding-right: 2px;
    height: 80px;
    /*width: 95%;*/
    min-width: 250px;
    /* background-color: lightgrey; */
    
    
}

#messages {
    
    margin: 0;
    padding-left: 2px;
    padding-right: 0px;
    width: 100%;
    border-radius: .3em;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
   
}

/* #fontButtons {
    
    
    border-radius: .2em;
    height: 35px;
    width: 100%;
} */


.switch {
  position: relative;
  display: flex;
  top: 5px;
  right: 15px;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8d9db6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #667292;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f1e3dd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8d9db6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}



.channelDisplay{
  cursor: pointer;
  display: block;
  text-align: center;
  border-color: #667292;
  border-radius: 12px;
  background-color: #8d9db6;
  color: #f1e3dd;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  outline: none;
  font-size: 24px;
  margin: 6px 0px;
}

/* The Modal (profile card) */
#channelModal {
  display: none; /* Hidden by default */
  /* position: fixed; Stays in front of profile button */
  position: absolute;
  z-index: 1; /* Sit on top */
  /* padding-top: 35px; Location of the box
  padding-bottom: 35px; */
  box-shadow: 0px 11px 30px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  right: 0px;
  top:0px;
  width: 400px; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #8d9db6; /* Fallback color */

}

.closeChannelPanel{
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #667292;
    color: #f0eae8;
    height: 25px;
    width: 25px;
    box-shadow: 0px 11px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-color: #667292;
    outline: none;
}

.channel-modal-container{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
  font-size: 42px;
  color: #667292;
  font-weight: bold;
}

#addChannelModal {
    display: none; 
    /* position: fixed; Stay in place */
    position: absolute;
    z-index: 1; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, .7);
    vertical-align: middle;
    left: 0;
    top: 0;

    font-size: 24px;
    color: #f0eae8;
}
#addChannelFormContainer{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}
#addChannelForm {
  width: 400px;
  height: 100px;
  font-weight: 700;
  font-size: 14px;
  display: block;
  letter-spacing: 1px;
  position: relative;
  top: 20%;
  padding: 35px 20px;
  background-color: #8d9db6;
  text-align: center;
  font-size: 24px;
}

#createChannelButton{
  display: inline-block;
  width: 250px;
  margin-top: 15px;
}

.closeCreateChannel{
  position: absolute;
    top: 15px;
    right: 20px;
    background-color: #667292;
    color: #f0eae8;
    height: 25px;
    width: 25px;
    box-shadow: 0px 11px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-color: #667292;
    outline: none;
}

#editChannelButton{
}

/* .textChannel{
font-size: large;
color: black;
} */

#editChannel {
    display: none; 
    /* position: fixed; Stay in place */
    position: absolute;
    z-index: 1; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, .7);
    vertical-align: middle;
    left: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 24px;
    color: #f0eae8;
}

.edit-channel-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.textChannel{
  font-size: 32px;
  font-weight: bold;
  color: #f0eae8
}

#editChannelForm {
  width: 50%;
  height: 80%;
  font-weight: 700;
  font-size: 14px;
  display: block;
  letter-spacing: 1px;
  position: relative;
  left: 20px;
  padding: 10px 20px;
  color: #f0eae8;
  background-color: #8d9db6;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  display: flex;
}

.closeEditChannel{
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #667292;
    color: #f0eae8;
    height: 25px;
    width: 25px;
    box-shadow: 0px 11px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-color: #667292;
    outline: none;
}









